# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Dependency directories
/node_modules
/bower_components

# Build directories
/dist
/build

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp